# Ignore node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore uploads folder (if needed)
uploads/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore OS and Editor specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Ignore build and dependencies
dist/
build/
coverage/
